Flask==3.0.3
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.24.1
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.6.1
scipy==1.15.1
Werkzeug==3.0.6
joblib==1.4.2
threadpoolctl==3.5.0
nest-asyncio==1.6.0
